@model IEnumerable<test.Models.tur>

@{
    if (Session["UserId"] == null)
    {
        Response.Redirect("~/Login");
    }
}
<title>Tür Listesi</title>
<div class="card" style="width: 45%">
    <div class="card-body">
        <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                </div>
                <div class="col-sm-12 col-md-6">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="example2_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Tür</th>
                                <th style="width:200px;" class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">İşlem</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr role="row" class="even">
                                    <td tabindex="0" class="sorting_1">
                                        @Html.DisplayFor(modelItem => item.turu)
                                    </td>
                                    <td>
                                        @{
                                            if ((string)Session["statusname"] == "Admin")
                                            {
                                                <a class="btn btn-danger btn-sm" href="@Url.Action("Tursil", new { id = item.id })">
                                                    <i class="fas fa-trash">
                                                    </i>
                                                    Sil
                                                </a>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
